div, h1, h2, h3, h4, h5, h6, p, ul, li, span {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: CustomFont;
    src: url(../../assets/fonts/Saira-Regular.ttf);
}

.navbar-link {
    font-family: CustomFont;
}

.text {
    font-family: CustomFont;
    padding: 0;
    margin: 1rem 0;
    line-height: 2.5rem;
    text-align: justify;
}

.text-h1 {
    font-size: 2rem;
}

.text-h3 {
    font-size: 1.5rem;
}

.text-h4 {
    font-size: 1.2rem;
}

.text-regular {
    font-size: 1rem;
}

.text-small {
    font-size: .8rem;
}

.text-tooltip {
    line-height: 1rem;
    font-size: .8rem;
    color: grey;
}


.text-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


@media only screen and (max-width: 768px) {
    .text {
        margin: 1rem 0;
        line-height: 1.8rem;
        text-align: unset;
    }
}