.spinner {
    padding: 2rem 0;
}
.spinner.no-padding {
    padding: 0rem;
}
.spinner.no-margin {
    margin: 0rem;
}
.spinner.spinner-small {
    font-size: .8rem;    
}
.spinner.spinner-regular {
    font-size: 1.2rem;    
}
.spinner.spinner-large {
    font-size: 2rem;    
}

/* MUI */

.spinner .MuiLinearProgress-colorSecondary {
    /* background: #e0328690; */
}
.spinner .MuiLinearProgress-bar {
    /* background: #E03286; */
}