.navbar2-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: auto;
    /* background: #0e1d2ad9; */
    box-sizing: border-box;
}

.navbar2__child1 {
    /* color: #9AA9B9; */
    padding: .2rem 1rem;
    background: #0e1d2ad9;
}

.navbar2__child2 {
    color: #ACBBCB;
    padding: .2rem 1rem;
    background: #0e1d2ad9;
}