.header-wrapper {
    width: 100%;
}

.header-container {
    background: url('https://kusama-acid-media.s3.amazonaws.com/banners/kusama-acid-pills-banner-static-1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.MuiDrawer-root {
    background: transparent;
}

.MuiDrawer-root .MuiDrawer-paper {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MuiDrawer-root .MuiDrawer-paper .link-container {
    min-height: 100px;
    height: unset;
}
