.header-wrapper {
    width: 100%;
    background-color: var(--black);
}

.header-container {
    background: url('https://kusama-acid-media.s3.amazonaws.com/banners/kusama-acid-pills-banner-static-1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1100px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
.header-container {
    height: 250px;
}
}