.navbar-wrapper {
    margin: 1rem;
    width: 100%;
}

.navbar-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.drawer-button-container {
    position: absolute;
    right: 1.5rem;
    top: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.drawer-button {
    color: #f5f5f5;
    font-size: 2rem;
    transform: rotate(90deg);
}

.navbar-link {
    font-size: 1.2rem;
    color: #f5f5f5;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    min-width: 5rem;
    
}

.navbar-link:hover {
    color: #E03286;
}

.navbar-link.active {
    color: #E03286;
}

@media only screen and (max-width: 768px) {

    .MuiDrawer-root .MuiDrawer-paper {
        justify-content: unset;
    }

    .swipeable-drawer-child {
        width: 100%;
        display: flex;
    }

    .swipeable-drawer-child-header {
        height: 100%;
        width: 100%;
        background: url(https://kusama-acid-media.s3.amazonaws.com/banners/kusama-acid-pills-banner-static-1B.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .navbar-links-header {
        /* width: 100%;
        height: 100%;
        min-height: 10rem;
        background: url(https://kusama-acid-media.s3.amazonaws.com/banners/kusama-acid-pills-banner-static-4.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: flex-start; */
    }

    .navbar-link {
        flex: 1;
        min-height: 5rem;
        margin-left: unset;
    }
}