.navbar-wrapper {
    width: 100%;
}

.navbar-container {
    /* background: #2F3237; */
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drawer-button-container {
    position: absolute;
    right: 1.5rem;
    top: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.drawer-button {
    color: #f5f5f5;
    font-size: 2rem;
    transform: rotate(90deg);
}

.navbar-link {
    transition: .5s;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.navbar-link:hover {
    transform: scale(1.2);
}

.navbar-link.active {
    /* color: #E03286; */
}

@media only screen and (max-width: 768px) {

    .MuiDrawer-root .MuiDrawer-paper {
        justify-content: unset;
    }

    .swipeable-drawer-child {
        width: 100%;
        display: flex;
    }

    .swipeable-drawer-child-header {
        height: 100%;
        width: 100%;
        background: url(https://kusama-acid-media.s3.amazonaws.com/banners/kusama-acid-pills-banner-static-1B.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .navbar-link {
        flex: 1;
        min-height: 5rem;
        margin-left: unset;
    }
}