
@font-face {
    font-family: CustomFont;
    src: url(../../assets/fonts/Saira-Regular.ttf);
}

.nft-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
    box-sizing: border-box;
}

.nft-container {
    cursor: pointer;
}

.NFT {
    cursor: pointer;
}

.MuiCard-root {
    font-family: CustomFont;
    background: transparent;
    color: #E03286;
}

.MuiCardActions-root {
    font-family: CustomFont;
    color: #E03286;
}

@media only screen and (max-width: 768px) {

    .nft-wrapper {
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        box-sizing: border-box;

    }
}